# Embætti landlæknis gögn

In [1]:
import numpy as np 
import pandas as pd


xls = pd.ExcelFile('legurogkomur.xlsx')
df = pd.read_excel(xls, 'Komur per dag')

In [2]:
df

,Starfstöð,Ár komu,Dagsetning komu,Kom frá - nr,Fór til - nr,Tilvísun - nr,Kyn,Aldursflokkun komu
0,Landspítali,2010,2010-01-01,1.0,1.0,0.0,Karl,50-69 ára
1,Landspítali,2010,2010-01-01,1.0,1.0,0.0,Karl,70 ára og eldri
2,Landspítali,2010,2010-01-01,1.0,1.0,0.0,Kona,50-69 ára
3,Landspítali,2010,2010-01-01,1.0,1.0,0.0,Kona,70 ára og eldri
4,Landspítali,2010,2010-01-01,1.0,1.0,3.0,Karl,0-49 ára
...,...,...,...,...,...,...,...,...
648209,Sjúkrarými Stykkishólmi - HVE,2022,2022-12-29,1.0,NaN,0.0,Karl,0-49 ára
648210,Sjúkrarými Stykkishólmi - HVE,2022,2022-12-29,1.0,NaN,0.0,Karl,50-69 ára
648211,Sjúkrarými Stykkishólmi - HVE,2022,2022-12-29,1.0,NaN,1.0,Karl,50-69 ára
648212,Sjúkrarými Stykkishólmi - HVE,2022,2022-12-29,1.0,NaN,1.0,Kona,0-49 ára
648213,Sjúkrarými Stykkishólmi - HVE,2022,2022-12-30,1.0,NaN,1.0,Karl,0-49 ára

In [10]:

grouped_df = df.groupby(['Dagsetning komu', 'Aldursflokkun komu']).size().reset_index(name='Count')

mean_df = grouped_df.groupby('Aldursflokkun komu')['Count'].mean().reset_index(name='Meðal Count')

mean_df

  Aldursflokkun komu  Meðal Count
0           0-49 ára    54.034120
1          50-69 ára    41.577717
2    70 ára og eldri    36.750842