# Gögn fyrir líkan

In [2]:
import pandas as pd 
import plotly.express as px
import numpy as np
import csv

In [3]:
df2 = pd.read_csv("Legur per dag.csv")
df2["Dagsetning innritunar"] = pd.to_datetime(df2["Dagsetning innritunar"])
df2["Dagsetning útskriftar"] = pd.to_datetime(df2["Dagsetning útskriftar"])
df2 = df2[df2['Dagsetning innritunar'].dt.year != 2009]

In [4]:
date_counts = df2["Dagsetning útskriftar"].value_counts()
date_range = pd.date_range(start=df2['Dagsetning útskriftar'].min(), end=df2['Dagsetning útskriftar'].max(), freq='D')
date_counts = date_counts.reindex(date_range, fill_value=0)
kut = date_counts.tolist()

date_counts = df2['Dagsetning innritunar'].value_counts()
date_range = pd.date_range(start=df2['Dagsetning innritunar'].min(), end=df2['Dagsetning innritunar'].max(), freq='D')
date_counts = date_counts.reindex(date_range, fill_value=0)
kinn = date_counts.tolist()

dagar = []
dagar.append(kinn[0]-kut[0])
for i in range(1,len(kinn)):
    dagar.append(kinn[i]+dagar[i-1]-kut[i])

In [6]:
grouped_df = df2.groupby(['Dagsetning innritunar', 'Aldursflokkur']).size().reset_index(name='Count')
mean_df = grouped_df.groupby('Aldursflokkur')['Count'].mean().reset_index(name='Meðal Count')
mean_df

     Aldursflokkur  Meðal Count
0         0-49 ára    43.739890
1        50-69 ára    23.198020
2  70 ára og eldri    34.490733

In [36]:
tafla = pd.DataFrame(
    {"Fjöldi á dag": dagar,
    "Meðalkoma Ungir": mean_df["Meðal Count"][0],
    "Meðalkoma Miðaldra": mean_df["Meðal Count"][1],
    "Meðalkoma Gamlir": mean_df["Meðal Count"][2] }
)
tafla.iloc[1:,1] = np.nan
tafla.iloc[1:,2] = np.nan
tafla.iloc[1:,3] = np.nan
tafla

      Fjöldi á dag  Meðalkoma Ungir  Meðalkoma Miðaldra  Meðalkoma Gamlir
0              207         43.73989            23.19802         34.490733
1              257              NaN                 NaN               NaN
2              280              NaN                 NaN               NaN
3              255              NaN                 NaN               NaN
4              247              NaN                 NaN               NaN
...            ...              ...                 ...               ...
4743           261              NaN                 NaN               NaN
4744           232              NaN                 NaN               NaN
4745           149              NaN                 NaN               NaN
4746            58              NaN                 NaN               NaN
4747             0              NaN                 NaN               NaN

[4748 rows x 4 columns]

In [37]:
tafla.to_csv("dagar.csv")